.heroCard {
    display: inline-block;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.heroCard>img {
    width: 100px;
}
.heroCard>img:hover {
    box-shadow: 0px 10px 10px black;
    transition: .5s;
    width: 110px;
}